* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.card {
  background-color: crimson;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav{
  background-color: lightblue;
  padding: 20px;
  margin: 10px;
}